# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/
Debug/
Release/

# NuGet
*.nupkg
packages/
*.snupkg
*.nuspec

# Resharper / Rider
_ReSharper*/
*.DotSettings.user
.idea/

# OS files
Thumbs.db
Desktop.ini
.DS_Store

# Logs
*.log

# Publish output
publish/
*.exe
*.dll
*.pdb
*.appx
*.appxbundle
*.msix
*.msixbundle
*.vsix
*.zip
*.7z

# Temporary files
*.tmp
*.cache
*.bak
*.old
*.orig

# Rider / JetBrains
.idea/
*.sln.iml