# Игнорировать всё
*

# Разрешить исходники
!*.cs
!*.xaml
!*.csproj
!*.sln
!*.csproj.user
!*.slnx

# Разрешить .gitignore
!.gitignore

# Папки сборки
bin/
obj/
Debug/
Release/

# NuGet
packages/
*.nupkg
*.snupkg

# IDE
.vs/
.idea/
*.suo
*.user
*.DotSettings.user
_ReSharper*/

# Публикация
publish/

# ОС
Thumbs.db
Desktop.ini
.DS_Store
